{% extends "examen/base_sysqa.html" %}

{% block logo %} 
<img src="{{ MEDIA_URL}}sysqalogo.png" width="150" height="50" style="float:left">
<!-- <img src="media/sysqalogo.png" width="150" height="50" style="float:left"> -->
{% endblock logo %}

{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.Onderdeel }}</a>
              <small class="text-muted">{{ post.Reeks }}</small>
            </div>
            <p class="article-content">{{ post.content }}</p>
            
          </div>
        </article>
    {% endfor %}
{% endblock content %}