{% extends "examen/base_sysqa.html" %}

{% block vragen %}
    <a class="nav-item nav-link" href="{% url 'examen-v1' %}">1</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">2</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">3</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">4</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">5</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">6</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">7</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">8</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">9</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">10</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">11</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">12</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">13</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">14</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">15</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">16</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">17</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">18</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">19</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">20</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">21</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">22</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">23</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">24</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">25</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">26</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">27</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">28</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">29</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">30</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">31</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">32</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">33</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">34</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">35</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">36</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">37</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">38</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">39</a>
    <a class="nav-item nav-link" href="{% url 'examen-v2' %}">40</a>
{% endblock vragen %}

{% block content %}
    {% for post in posts1 %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.Onderdeel }}</a>
              <small class="text-muted">{{ post.Reeks }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.Antwoord }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    
{% endblock content %}